<!DOCTYPE html>
{% extends "form_app/basic.html" %}
{% load staticfiles %}
{% block body_block %}
       <h1>Welcome to the registration page </h1>
       <div class="jumbotron">
         {% if registered %}
          <h1>You are already registered</h1>
         {% else %}
          <h1>Register here!</h1>
          <h3>Fill ouit the form:</h3>
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <input type="submit" class="btn btn-primary" value="Register">
          </form>
         {% endif %}
       </div>
{% endblock %}
